
<div class="row" ng-init="actualizardatosprofesionales.init()">
    <div class="col-md-6">
        <h1 class="page-header">Actualizar datos profesionales</h1>
    </div>
    <!-- /.col-md-8 col-md-offset-2 -->
</div>

<messages src="actualizardatosprofesionales.messages"></messages>
    <!-- /.container-fluid -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-primary" 
                ng-show="actualizardatosprofesionales.action==='cursos'">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a>
                                Curso
                            </a>
                        </h4>
                    </div>
                    <div id="Cursos">
                        <div class="panel-body">
                             <div class="form-group">
                                     <label>Nombre del curso</label>
                                     <input class="form-control" 
                                     ng-model="actualizardatosprofesionales.curso.titulo"
                                     placeholder="Nombre del curso" >
                              </div>
                               <div class="form-group">
                                   <div class="input-group date">
                                   <input type="text" class="form-control">
                                   <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-th"></i></span>
                                   </div>
                              </div>

                        </div>
                    </div>
                </div>
                 <div class="panel panel-primary" 
                ng-show="actualizardatosprofesionales.action==='certificaciones'">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a>
                                Certificado
                            </a>
                        </h4>
                    </div>
                    <div id="Cursos">
                        <div class="panel-body">
                               <div flow-init="{
                               target: 'http://localhost:57559/api/certificados/create',
                               singleFile: true,
                                headers: {
                               Authorization:actualizardatosprofesionales.getTocken()}
                             }" 
                               flow-files-submitted="$flow.upload()" flow-file-success="actualizardatosprofesionales.success()"
                               flow-file-success="actualizardatosprofesionales.error()"
                               class="ng-scope"
                               flow-file-added="!!{pdf:1}[$file.getExtension()]">
                                    <div class="drop" flow-drop="" ng-class="dropClass">
                                        <span class="btn btn-default" flow-btn="">Upload File
                                            <input type="file" multiple="multiple" style="visibility: hidden; position: absolute;">
                                        </span>
                                        <b>OR</b>
                                        Drag And Drop your file here
                                    </div>
                                    <br>
                                
                                <div>
                                    <div ng-repeat="file in $flow.files" class="transfer-box ng-scope ng-binding">
                                  {{file.name}}
                                  <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
                                      <span class="sr-only ng-binding"></span>
                                    </div>
                                  </div>
                                  <div class="btn-group">
                                    <a class="btn btn-danger btn pull-right" ng-click="file.cancel()">
                                      Cancel
                                    </a>
                                  </div>
                                </div><!-- end ngRepeat: file in $flow.files -->
                              </div>
                            </div>

            
                         


                        </div>
                    </div>
                </div>
                 <div class="panel panel-primary" 
                ng-show="actualizardatosprofesionales.action==='estudios'">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a>
                                Estudio
                            </a>
                        </h4>
                    </div>
                    <div id="Cursos">
                        <div class="panel-body">
                             <div class="form-group">
                                     <label>Titulo</label>
                                     <input class="form-control" 
                                     ng-model="actualizardatosprofesionales.curso.titulo">
                              </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" 
                ng-show="actualizardatosprofesionales.action==='exp'">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a>
                                Experiencia
                            </a>
                        </h4>
                    </div>
                    <div id="Cursos">
                        <div class="panel-body">
                             <div class="form-group">
                                     <label>Titulo</label>
                                     <input class="form-control" 
                                     ng-model="actualizardatosprofesionales.curso.titulo">
                              </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" 
                ng-show="actualizardatosprofesionales.action==='proyectos'">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a>
                                Proyecto
                            </a>
                        </h4>
                    </div>
                    <div id="Cursos">
                        <div class="panel-body">
                             <div class="form-group">
                                     <label>Titulo</label>
                                     <input class="form-control" 
                                     ng-model="actualizardatosprofesionales.curso.titulo">
                              </div>

                        </div>
                    </div>
                </div>



               

        <!-- /.panel -->
    </div>
    <!-- /.col-md-8 col-md-offset-2 -->
</div>
<!-- /#page-wrapper -->
