        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Actualizar datos profesionales</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <div class="row">
        <div class="col-lg-12">
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" ng-href="#Cursos">
                                    Cursos
                                </a>
                            </h4>
                        </div>
                        <div id="Cursos" class="panel-collapse collapse in">
                            <div class="panel-body">
                                      <form role="form">
                                         <div class="form-group">
                                            <textarea class="form-control" rows="5" id="comment"></textarea>
                                        </div>
                                      </form>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Certificaciones">Certificaciones</a>
                            </h4>
                        </div>
                        <div id="Certificaciones" class="panel-collapse collapse">
                            <div class="panel-body">
                                <span class="btn btn-file"><input type="file" /></span>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Estudios">Estudios</a>
                            </h4>
                        </div>
                        <div id="Estudios" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form role="form">
                                         <div class="form-group">
                                            <textarea class="form-control" rows="5" id="comment"></textarea>
                                        </div>
                                      </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Experiencia">Experiencia laboral</a>
                            </h4>
                        </div>
                        <div id="Experiencia" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form role="form">
                                         <div class="form-group">
                                            <textarea class="form-control" rows="5" id="comment"></textarea>
                                        </div>
                                      </form>
                            </div>
                        </div>
                    </div>
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Conocimientos">Conocimientos</a>
                            </h4>
                        </div>
                        <div id="Conocimientos" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form role="form">
                                         <div class="form-group">
                                            <textarea class="form-control" rows="5" id="comment"></textarea>
                                        </div>
                                      </form>
                            </div>
                        </div>
                    </div>
                  </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-success btn pull-right">Enviar</button>
        </div>

<!-- /#page-wrapper -->
