<div class="container-fluid" ng-init="crearuser.init()">

    <div class="row">
        <div class="col-md-6">
            <h1 class="page-header">Crear nuevo usuario</h1>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
<div class="row">
     <messages src="crearuser.messages"></messages>
    <form name="form" ng-submit="crearuser.submitForm(form.$valid)"  method="post" validate>
    <div class="col-md-8 col-md-offset-2">  
        <div class="panel panel-primary">
            <div class="panel-heading"><i class="fa fa-user"></i><span > Datos de usuario</span></div>
             
                    <div class="form-group panel-body">
                    				 <div class="form-group">
                                    	<div class="form-group">
                                        
                                                <select class="form-control" name="color" ng-model="crearuser.email"required>
                                                	<option value="">Seleccione un correo</option>
                                                    <option value="{{email}}" ng-repeat="email in crearuser.notuseremails()">{{email}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                        
                                                <select class="form-control" name="color" ng-model="crearuser.rol"required>
                                                    <option value="">Seleccione un tipo de usuario</option>
                                                    <option value="Empleado">Empleado</option>
                                                    <option value="RecursosHumanos">Recursos Humanos</option>
                                                    <option value="Administrador">Administrador</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" placeholder="Usuario LDAP" 
                                                name="Ldap User" ng-model="crearuser.username"
                                                 ng-value="crearuser.username" required >
                                            </div>
                                     </div>

                                  
                   </div>
         </div>

         <div class="pull-right">
                 <button class="btn btn-lg btn-success btn-block" type="submit">Crear</button>
            </form>
             </br>
        </div>
    </div>
</div>


